<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwm.dataservice.mapper.IncomeRecordMapper">

    <resultMap id="BaseResultMap" type="com.lwm.common.model.IncomeRecord">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="uid" column="uid" jdbcType="INTEGER"/>
        <result property="productId" column="product_id" jdbcType="INTEGER"/>
        <result property="bidId" column="bid_id" jdbcType="INTEGER"/>
        <result property="bidMoney" column="bid_money" jdbcType="DECIMAL"/>
        <result property="incomeDate" column="income_date" jdbcType="DATE"/>
        <result property="incomeMoney" column="income_money" jdbcType="DECIMAL"/>
        <result property="incomeStatus" column="income_status" jdbcType="INTEGER"/>
    </resultMap>

    <!--分页查询收益记录映射-->
    <resultMap id="IncomeRecordVO" type="com.lwm.common.vo.IncomeRecordVO">
        <id column="id" property="id"/>
        <result column="product_name" property="productName"/>
        <result column="income_date" property="incomeDate"/>
        <result column="income_money" property="incomeMoney"/>
        <result column="income_status" property="incomeStatus"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,uid,product_id,
        bid_id,bid_money,income_date,
        income_money,income_status
    </sql>
    <!--插入一条记录-->
    <insert id="insert" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into b_income_record
        ( uid, product_id
        , bid_id, bid_money, income_date
        , income_money, income_status)
        values ( #{uid,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}
               , #{bidId,jdbcType=INTEGER}, #{bidMoney,jdbcType=DECIMAL}, #{incomeDate,jdbcType=DATE}
               , #{incomeMoney,jdbcType=DECIMAL}, #{incomeStatus,jdbcType=INTEGER})
    </insert>
    <!--根据id可选更新-->
    <update id="updateByIdSelective">
        UPDATE b_income_record
        <set>
            <if test="uid != null">
                uid = #{uid},
            </if>
            <if test="productId != null">
                product_id = #{productId},
            </if>
            <if test="bidId != null">
                bid_id = #{bidId},
            </if>
            <if test="bidMoney != null">
                bid_money = #{bidMoney},
            </if>
            <if test="incomeDate != null">
                income_date = #{incomeDate},
            </if>
            <if test="incomeMoney != null">
                income_money = #{incomeMoney},
            </if>
            <if test="incomeStatus != null">
                income_status = #{incomeStatus}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!--根据用户id分页查询收益记录-->
    <select id="selectPageByUid" resultMap="IncomeRecordVO">
        SELECT i.id,
               p.product_name,
               DATE_FORMAT(i.income_date, '%Y-%m-%d') AS income_date,
               i.income_money,
               i.income_status
        FROM b_income_record i
                 JOIN b_product_info p ON i.product_id = p.id
        WHERE i.uid = #{uid}
        ORDER BY income_date DESC
        LIMIT #{offset}, #{pageSize};
    </select>
    <!--查询到期的未返还的收益记录 1.状态为0未返还  2.前一天的收益计划-->
    <select id="selectByIncomeDateAndStatus" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM b_income_record
        WHERE income_status = 0
        AND income_date = #{preDay}
    </select>

</mapper>
