<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwm.dataservice.mapper.RechargeRecordMapper">

    <resultMap id="BaseResultMap" type="com.lwm.common.model.RechargeRecord">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="uid" column="uid" jdbcType="INTEGER"/>
            <result property="rechargeNo" column="recharge_no" jdbcType="VARCHAR"/>
            <result property="rechargeStatus" column="recharge_status" jdbcType="INTEGER"/>
            <result property="rechargeMoney" column="recharge_money" jdbcType="DECIMAL"/>
            <result property="rechargeTime" column="recharge_time" jdbcType="TIMESTAMP"/>
            <result property="rechargeDesc" column="recharge_desc" jdbcType="VARCHAR"/>
            <result property="channel" column="channel" jdbcType="VARCHAR"/>
    </resultMap>

    <!--用户的充值记录的映射-->
    <resultMap id="RechargeRecordVO" type="com.lwm.common.vo.RechargeRecordVO">
        <id column="id" property="id"/>
        <result column="recharge_desc" property="rechargeDesc"/>
        <result column="recharge_money" property="rechargeMoney"/>
        <result column="rechargeTime" property="rechargeTime"/>
        <result column="recharge_status" property="rechargeStatus"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,uid,recharge_no,
        recharge_status,recharge_money,recharge_time,
        recharge_desc,channel
    </sql>
    <!--插入一条充值记录-->
    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO  b_recharge_record
        (uid, recharge_no, recharge_status, recharge_money, recharge_desc, recharge_time, channel)
        VALUE (#{uid},#{rechargeNo},#{rechargeStatus},#{rechargeMoney},#{rechargeDesc},#{rechargeTime},#{channel})
    </insert>

    <!--更新充值状态和描述-->
    <update id="updateByRecharge">
        UPDATE b_recharge_record
        SET recharge_status = #{rechargeStatus},
            recharge_desc = #{rechargeDesc}
        WHERE id = #{id}
    </update>

    <!--根据id查单条-->
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from b_recharge_record
        where  id = #{id,jdbcType=INTEGER} 
    </select>

    <!--根据用户id分页查询充值记录-->
    <select id="selectPageByUid" resultMap="RechargeRecordVO">
        SELECT id,
               recharge_desc,
               recharge_money,
               DATE_FORMAT(recharge_time, '%Y-%m-%d') AS rechargeTime,
               recharge_status
        FROM b_recharge_record
        WHERE uid = #{uid}
        ORDER BY recharge_time DESC
        LIMIT #{offset},#{pageSize};
    </select>
    <select id="selectByNo" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM b_recharge_record
        WHERE recharge_no = #{orderId}
    </select>

</mapper>
